:root {
  --jd-palette--blue-dark:        #020166;
  --jd-palette--blue-light:       rgb(160 70 0);
  //--jd-palette--blue-light:       hsl(25deg 90% 25%);
  //--jd-palette--blue-light:       hsl(30deg 15% 35%);
  --jd-palette--blue-extra-light: #97b6d8;
  --jd-palette--blue-grey:        #a3afc2;

  --jd-color--varriable:  var(--jd-palette--blue-dark);
  --jd-color--main:       var(--jd-palette--blue-dark);
  --jd-color--secondary:  var(--jd-palette--blue-light);
  --jd-color--ternary:    var(--jd-palette--blue-extra-light);
  --jd-color--white:      white;
  --jd-color--dark:       black;
  --jd-color--dark-light: var(--jd-palette--blue-grey);

  --js-max-width--reg:  42rem;

  --v-app-header--title-height: 4rem;
  --v-app-header--title-width: 23em;
  --v-app-header--ui-size: 4.5rem;

  --jd-height-of-header: 1.5rem;

  &.is-projects {
    --jd-color--varriable: var(--jd-palette--blue-light);
  }
}

*,
*::before,
*::after {
  font-weight: normal;
}

strong {
  font-weight: 600;
}

html {
  font-size: 20px;
  height: 100%;
}

body {
  @extend .jd-font-default;

  font-family: 'Denim', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  color: var(--jd-color--main);
  background: var(--jd-color--white);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  padding-right: .5rem;
}
