@import "./base";
@import "./grid";
@import "./typography";

#app {
}

a {
  text-decoration: none;
  color: var(--jd-color--main);

  @media (hover: hover) {
    a:hover {
      color: var(--jd-color--secondary);
    }
  }

}
