@font-face {
  font-family: 'Denim';
  font-weight: 400;
  src:
    url('src/assets/DP_order_136359/WEB/Denim-Regular.woff2'),
    url('src/assets/DP_order_136359/WEB/Denim-Regular.woff');
  font-style: normal;
}

@font-face {
  font-family: 'Denim';
  font-weight: 400;
  src:
          url('src/assets/DP_order_136359/WEB/Denim-RegularItalic.woff2'),
          url('src/assets/DP_order_136359/WEB/Denim-RegularItalic.woff');
  font-style: italic;
}


.jd-font-xxl {
  font-size: 1.8rem;
}
